## Creating Lookup Table

There are several different sources of baseball statistics, including [Baseball Savant](https://baseballsavant.mlb.com/), [Fangraphs](https://www.fangraphs.com/), and [Baseball Reference](https://www.baseball-reference.com/). As such, they all have their own databases, with different players having different player ID's in different databases, depending on the primary key of each data table.

The following code, borrowed from the [baseball-scraper](https://pypi.org/project/baseball-scraper/) package, creates a lookup table where the various player IDs for each player can be found.

### Loading Packages

In [1]:
import pandas as pd
import numpy as np
import requests
import io
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine
import datetime as dt
import os
import zipfile
from io import BytesIO, StringIO

In [2]:
def get_lookup_table():
    print('Gathering player lookup table. This may take a moment.')
    url = "https://raw.githubusercontent.com/chadwickbureau/register/master/data/people.csv"
    s=requests.get(url).content
    table = pd.read_csv(io.StringIO(s.decode('utf-8')), dtype={'key_sr_nfl': object, 'key_sr_nba': object, 'key_sr_nhl': object})
    #subset columns
    cols_to_keep = ['name_last','name_first','key_mlbam', 'key_retro', 'key_bbref', 'key_fangraphs', 'mlb_played_first','mlb_played_last']
    table = table[cols_to_keep]
    #make these lowercase to avoid capitalization mistakes when searching
    table['name_last'] = table['name_last'].str.lower()
    table['name_first'] = table['name_first'].str.lower()
    # Pandas cannot handle NaNs in integer columns. We need IDs to be ints for successful queries in statcast, etc. 
    # Workaround: replace ID NaNs with -1, then convert columns to integers. User will have to understand that -1 is not a valid ID. 
    table[['key_mlbam', 'key_fangraphs']] = table[['key_mlbam', 'key_fangraphs']].fillna(-1)
    table[['key_mlbam', 'key_fangraphs']] = table[['key_mlbam', 'key_fangraphs']].astype(int) # originally returned as floats which is wrong
    return table

tbl = get_lookup_table()
 
tbl['name'] = [str(tbl.name_first.iloc[i]) + " " + str(tbl.name_last.iloc[i]) for i in range(len(tbl))]

Gathering player lookup table. This may take a moment.

In [3]:
tbl.head(20)

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last,name
0,'t hoen,evert-jean,439524,NaN,NaN,-1,NaN,NaN,evert-jean 't hoen
1,a'heasy,NaN,-1,NaN,NaN,-1,NaN,NaN,nan a'heasy
2,aaberg,al,-1,NaN,NaN,-1,NaN,NaN,al aaberg
3,aadland,kirk,-1,NaN,NaN,-1,NaN,NaN,kirk aadland
4,aaker,zach,-1,NaN,NaN,-1,NaN,NaN,zach aaker
5,aakhus,zach,-1,NaN,NaN,-1,NaN,NaN,zach aakhus
6,aalbers,brady,444058,NaN,NaN,-1,NaN,NaN,brady aalbers
7,aanderud,brian,-1,NaN,NaN,-1,NaN,NaN,brian aanderud
8,aanonsen,jerry,554449,NaN,NaN,-1,NaN,NaN,jerry aanonsen
9,aaras,NaN,-1,NaN,NaN,-1,NaN,NaN,nan aaras
10,aardsma,david,430911,aardd001,aardsda01,1902,2004.0,2015.0,david aardsma
11,aarns,andrew,-1,NaN,NaN,-1,NaN,NaN,andrew aarns
12,aaron,ed,-1,NaN,NaN,-1,NaN,NaN,ed aaron
13,aaron,ging,458209,NaN,NaN,-1,NaN,NaN,ging aaron
14,aaron,hank,110001,aaroh101,aaronha01,1000001,1954.0,1976.0,hank aaron
15,aaron,lary,554450,NaN,NaN,-1,NaN,NaN,lary aaron
16,aaron,melvin,554451,NaN,NaN,-1,NaN,NaN,melvin aaron
17,aaron,robert,-1,NaN,NaN,-1,NaN,NaN,robert aaron
18,aaron,tom,-1,NaN,NaN,-1,NaN,NaN,tom aaron
19,aaron,tommie,110002,aarot101,aaronto01,1000002,1962.0,1971.0,tommie aaron

The table that is returned is a bit messy, so I clean it up a bit here before loading to SQL.

In [4]:
tbl = tbl[(pd.isna(tbl.mlb_played_first) == False) & (tbl.key_fangraphs != -1)]

In [5]:
tbl.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last,name
10,aardsma,david,430911,aardd001,aardsda01,1902,2004.0,2015.0,david aardsma
14,aaron,hank,110001,aaroh101,aaronha01,1000001,1954.0,1976.0,hank aaron
19,aaron,tommie,110002,aarot101,aaronto01,1000002,1962.0,1971.0,tommie aaron
26,aase,don,110003,aased001,aasedo01,1000003,1977.0,1990.0,don aase
31,abad,andy,407577,abada001,abadan01,506,2001.0,2006.0,andy abad

### Loading to SQL

In [6]:
dtypes = {'name_last' : sqlalchemy.types.VARCHAR(length=20), 
          'name_first': sqlalchemy.types.VARCHAR(length=20), 
          'key_mlbam': sqlalchemy.types.INTEGER(), 
          'key_retro': sqlalchemy.types.VARCHAR(length=20), 
          'key_bbref' :sqlalchemy.types.VARCHAR(length=20),
          'key_fangraphs': sqlalchemy.types.INTEGER(),
          'mlb_played_first': sqlalchemy.types.INTEGER(),
          'mlb_played_last': sqlalchemy.types.INTEGER(), 
          'name' : sqlalchemy.types.VARCHAR(length=40)}

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="rootroot",
                               db="mlb"))

tbl.to_sql('player_lookup', con = engine, if_exists = 'replace',
          chunksize = 1000,dtype = dtypes)

engine.dispose()

### Getting Lahman's Database

I also use the **baseball-scraper** function to pull in the **People** table from [Sean Lahman's database](http://www.seanlahman.com/baseball-archive/statistics/), which contains player information such as height and weight.

In [7]:
url = "https://github.com/chadwickbureau/baseballdatabank/archive/master.zip"
base_string = os.path.join("baseballdatabank-master","core")

_handle = None
def get_lahman_zip():
    # Retrieve the Lahman database zip file, returns None if file already exists in cwd.
    # If we already have the zip file, keep re-using that.
    # Making this a function since everything else will be re-using these lines
    global _handle
    if os.path.exists(base_string):
        _handle = None
    elif not _handle:
        s = requests.get(url, stream=True)
        _handle = zipfile.ZipFile(BytesIO(s.content))
    return _handle
        
def people():
	z = get_lahman_zip()
	f = os.path.join(base_string, "People.csv")
	data = pd.read_csv(f if z is None else z.open(f), header=0, sep=',', quotechar="'")
	return data

df = people()

df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

### Loading to SQL

Finally, I load the **People** table to my SQL database, which currently also contains the **pitch_tracking** table and the **player_lookup** table.

In [8]:
dtypes = {'playerID':sqlalchemy.types.VARCHAR(length=64),
          'birthYear':sqlalchemy.types.INTEGER(),
          'birthMonth':sqlalchemy.types.INTEGER(),
          'birthDay':sqlalchemy.types.INTEGER(),
          'birthCountry':sqlalchemy.types.VARCHAR(length=64),
          'birthState':sqlalchemy.types.VARCHAR(length=64),
          'birthCity':sqlalchemy.types.VARCHAR(length=64),
          'deathYear':sqlalchemy.types.INTEGER(),
          'deathMonth':sqlalchemy.types.INTEGER(),
          'deathDay':sqlalchemy.types.INTEGER(),
          'deathCountry':sqlalchemy.types.VARCHAR(length=64),
          'deathState':sqlalchemy.types.VARCHAR(length=64),
          'deathCity':sqlalchemy.types.VARCHAR(length=64),
          'nameFirst':sqlalchemy.types.VARCHAR(length=64),
          'nameLast':sqlalchemy.types.VARCHAR(length=64),
          'nameGiven':sqlalchemy.types.VARCHAR(length=64),
          'weight':sqlalchemy.types.INTEGER(),
          'height':sqlalchemy.types.INTEGER(),
          'bats':sqlalchemy.types.VARCHAR(length=1),
          'throws':sqlalchemy.types.VARCHAR(length=1),
          'debut':sqlalchemy.DATETIME(),
          'finalGame':sqlalchemy.DATETIME(),
          'retroID':sqlalchemy.types.VARCHAR(length=64),
          'bbrefID':sqlalchemy.types.VARCHAR(length=64)}

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="rootroot",
                               db="mlb"))

df.to_sql('people', con = engine, if_exists = 'replace',
          chunksize = 1000,dtype = dtypes)

engine.dispose()